<p>Find me in app/views/cocktails/new.html.erb</p>
<h1>Create a New Cocktail Recipe</h1>

<p>----------------------------------------------</p>

<%= render 'form' %>

<p>----------------------------------------------</p>

<h4><%= link_to 'Back to Cocktails List', cocktails_path, class: 'btn btn-primary' %></h4>

