<p>Find me in app/views/ingredients/index.html.erb</p>
<h1>Ingredients List</h1>

<p>----------------------------------------------</p>

<h3 class="text-center">Search for Drinks Containing an Ingredient Below: </h3>

<div class="container">
  <div class="row">
    <% @ingredients.each do |ingredient| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
          <div class="card-body">
            <%= link_to ingredient.name, ingredient_path(ingredient) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<p>----------------------------------------------</p>

<h4><%= link_to 'Back to Cocktail List', cocktails_path %></h4>
