<p>Find me in app/views/ingredients/show.html.erb</p>
<h1>Cocktails Filtered by Ingredient</h1>

<p>----------------------------------------------</p>

<h1 class="text-center">Your cocktail that includes <%= @ingredient.name %> list</h1>

    <% @ingredient.cocktails.each do |cocktail| %>
      <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    <%end%>

<p>----------------------------------------------</p>

<h4><%= link_to 'Back to Cocktail List', cocktails_path %></h4>
