<p>I'm a partial found in app/views/doses/_form.html.erb</p>
<%= simple_form_for([cocktail, dose]) do |f| %>
  <%= f.input :ingredient_id, collection: ingredients, label: 'Ingredients', prompt: 'select an ingredient' %>
  <%= f.input :description, label: 'Amount/Description', placeholder: 'type an amount and description' %>
  <%= f.submit 'Add to Recipe' %>
<% end %>
