<p>I'm a partial found in app/views/c/_form.html.erb</p>
<%= simple_form_for([cocktail, dose]) do |f| %>
  <%= f.input :ingredient_id, collection: ingredients %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
